<?xml version="1.0" encoding="UTF-8"?>
<!--suppress ALL -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lk.sensitive.demo.mapper.UserMapper">

    <resultMap id="mymap" type="com.lk.sensitive.demo.model.UserModel">
        <id property="id" column="id" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="idcard" property="idcard" jdbcType="VARCHAR" />
        <result column="age" property="age" jdbcType="INTEGER" />
        <result column="email" property="email" jdbcType="VARCHAR" />
    </resultMap>

    <insert id="insert" parameterType="com.lk.sensitive.demo.model.UserModel">
        insert into
        user(user_name,idcard,age,email)
        values(#{userName},#{idcard},#{age},#{email})
    </insert>

    <insert id="insert2" >
        insert into
        user(user_name,idcard)
        values(#{userName},#{idcard})
    </insert>
    <!--查询数据库所有标准旅行时间-->
    <select id="findAll" resultType="com.lk.sensitive.demo.model.UserModel">
        select
        id,
        user_name as userName,
        idcard as idcard,
        age as age,
        email as email
        from user
    </select>

    <!--查询数据库所有标准旅行时间-->
    <select id="findAll2" resultMap="mymap">
        select
        id,
        user_name,
        idcard,
        age,
        email
        from user
    </select>

    <select id="findOne" parameterType="java.lang.Integer" resultType="com.lk.sensitive.demo.model.UserModel">
         select
        id,
        user_name as userName,
        idcard as idcard,
        age as age,
        email as email
        from user
        where id=#{id}
    </select>
    <select id="findByCondition" parameterType="com.lk.sensitive.demo.model.UserModel" resultType="com.lk.sensitive.demo.model.UserModel">
        select
        id,
        user_name as userName,
        idcard as idcard,
        age as age,
        email as email
        from user
        where idcard=#{idcard}
    </select>
    <update id="updateByCondition" parameterType="com.lk.sensitive.demo.model.UserModel">
        update user set
          user_name=#{userName},
               idcard=#{idcard},
               age=#{age},
               email=#{email}
               where
               id=#{id} and user_name=#{userName}
    </update>

</mapper>